<!DOCTYPE html>
<%= render "layouts/html_tag" %>
<head>
  <title><%= content_for(:title) || "Fullstack Spp" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Fullstack Spp">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="h-screen flex flex-col overflow-hidden bg-surface">
  <%= render "shared/authenticated_header" %>
  <div class="flex-1 flex overflow-hidden">
    <%= render "shared/sidebar" %>
    <main class="flex-1 overflow-y-auto p-6">
      <%= yield %>
    </main>
  </div>
</body>
</html>